<nav class="navigation">
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li class="dropdown">
        <a href="#">Categories</a>
        <div class="dropdown-content">
          <a routerLink="/categories/programming" routerLinkActive="active">Programming</a>
          <a routerLink="/categories/design" routerLinkActive="active">Design</a>
          <a routerLink="/categories/math" routerLinkActive="active">Math</a>
        </div>
      </li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/add-resources" routerLinkActive="active">Add Resources</a></li>
    </ul>
  </nav>
 